.main {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 150px 40px;
    background-image: linear-gradient(88.7deg, rgba(207, 150, 207, 1) -2.4%, rgba(107, 116, 179, 1) 102%);
    border-radius: 20px;
}

.reset {
    margin: 0 10px;
}

h1 {
    color: #3f374a;
}
button{
    border: none;
    background-color: rgb(165, 110, 179);
}
button:hover {
    background-color: rgb(165, 110, 179);
    color: white;
    border: none;
    transition: all .3s linear;
}

body {
    background-color: #733c81c2;
}



